@model List<Job>
<link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<style>
	tr td:nth-of-type(1) {
  display: none;
	}
</style>
	<div class="page-content bg-white">
		<!-- contact area -->
		<div class="content-block">
			<!-- Browse Jobs -->
			<div class="section-full bg-white p-t50 p-b20">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-4 m-b30">
							<div class="sticky-top">
								<div class="candidate-info company-info">

									<partial name="_EmployerSidebar.cshtml" />
								</div>
							</div>
						</div>
						<div class="col-xl-9 col-lg-8 m-b30">
							<div class="job-bx clearfix">
								<div class="job-bx-title clearfix">
									<h5 class="font-weight-700 pull-left text-uppercase">Manage jobs</h5>
									<div class="float-right">
										<span class="select-title">Sort by freshness</span>
										<select>
											<option>All</option>
											<option>None</option>
											<option>Read</option>
											<option>Unread</option>
											<option>Starred</option>
											<option>Unstarred</option>
										</select>
									</div>
								</div>
								<table id="jobDataTable" class="table-job-bx cv-manager company-manage-job">
									<thead>
										<tr>
											<th class="hideThis">Id</th>
											<th>Job Title</th>
											<th>Applications</th>
											<th>Date</th>
											<!-- Disable sorting from dynamically created class from datatable -->
											<th class="nosort">Edit</th>
											<th class="nosort" >Delete</th>
												
										</tr>
									</thead>
									
								</table>
								
								<!-- Modal -->
								<div class="modal fade modal-bx-info" id="exampleModalLong" tabindex="-1" role="dialog"
									aria-labelledby="exampleModalLongTitle" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<div class="logo-img">
													<img alt="" src="images/logo/icon2.png">
												</div>
												<h5 class="modal-title">Job Details</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-body">

											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Close</button>
											</div>
										</div>
									</div>
								</div>
								<!-- Modal End -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Browse Jobs END -->
		</div>
	</div>
	    <script src="/assets/js/jquery.min.js"></script><!-- JQUERY.MIN JS -->
@section Scripts
{

    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/manageJobDataTable.js"></script>
}
	<!-- Content END-->
	<!-- Modal Box -->
	<!-- Modal Box End -->
	<!-- Footer -->
	
   @* Get Job Details *@
	<script>
		$("#jobDataTable").on('click', '#editBtn2', function(e){
        e.preventDefault();
        var ID = $(this).closest('tr').find('td').eq(0).text();
         $.get("@Url.Action("JobDetails","Employer")/" + ID,
				function (data) {
					$('.modal-body').html(data);
				});

			$("#exampleModalLong").modal("show");
    });
	</script>
	@* hide Id Head From Table so Id is not shown in table but it still is hidden *@
	<script>
        $('.hideThis').hide();
	</script>
 

