<div class="page-content bg-white">
		<!-- contact area -->
        <div class="content-block">
			<!-- Browse Jobs -->
			<div class="section-full bg-white browse-job p-t50 p-b20">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-4 m-b30">
							<div class="sticky-top">
								<div class="candidate-info">
								<partial name="_EmployeeSidebar.cshtml"/>

								</div>
							</div>
						</div>
<div class="col-xl-9 col-lg-8 m-b30">
							<div class="job-bx-title clearfix">
								<h5 class="font-weight-700 pull-left text-uppercase">2269 Jobs Found</h5>
								<div class="float-right">
									<span class="select-title">Sort by freshness</span>
									<select>
										<option>Last 2 Months</option>
										<option>Last Months</option>
										<option>Last Weeks</option>
										<option>Last 3 Days</option>
									</select>
								</div>
							</div>
							<ul class="post-job-bx browse-job">
								<li>
									<div class="post-bx">
										<div class="job-post-info m-a0">
											<h4><a href="job-detail.html">PHP Web Developer</a></h4>
											<ul>
												<li><a href="company-profile.html">company-name</a></li>
												<li><i class="fa fa-map-marker"></i> Sacramento, California</li>
												<li><i class="fa fa-money"></i> 25,000</li>
											</ul>
											<div class="job-time m-t15 m-b10">
												<a href="javascript:void(0);"><span>PHP</span></a>
												<a href="javascript:void(0);"><span>Angular</span></a>
												<a href="javascript:void(0);"><span>Bootstrap</span></a>
												<a href="javascript:void(0);"><span>Wordpress</span></a>
											</div>
											<div class="posted-info clearfix">
												<p class="m-tb0 text-primary float-left"><span class="text-black m-r10">Posted:</span> 2 day ago</p>
												<a href="jobs-my-resume.html" class="site-button button-sm float-right">Apply Job</a>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="post-bx">
										<div class="job-post-info m-a0">
											<h4><a href="job-detail.html">Software Developer</a></h4>
											<ul>
												<li><a href="company-profile.html">company-name</a></li>
												<li><i class="fa fa-map-marker"></i> Sacramento, California</li>
												<li><i class="fa fa-money"></i> 25,000</li>
											</ul>
											<div class="job-time m-t15 m-b10">
												<a href="javascript:void(0);"><span>PHP</span></a>
												<a href="javascript:void(0);"><span>Angular</span></a>
												<a href="javascript:void(0);"><span>Bootstrap</span></a>
												<a href="javascript:void(0);"><span>Wordpress</span></a>
											</div>
											<div class="posted-info clearfix">
												<p class="m-tb0 text-primary float-left"><span class="text-black m-r10">Posted:</span> 2 day ago</p>
												<a href="jobs-my-resume.html" class="site-button button-sm float-right">Apply Job</a>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="post-bx">
										<div class="job-post-info m-a0">
											<h4><a href="job-detail.html">Branch Credit Manager</a></h4>
											<ul>
												<li><a href="company-profile.html">company-name</a></li>
												<li><i class="fa fa-map-marker"></i> Sacramento, California</li>
												<li><i class="fa fa-money"></i> 25,000</li>
											</ul>
											<div class="job-time m-t15 m-b10">
												<a href="javascript:void(0);"><span>PHP</span></a>
												<a href="javascript:void(0);"><span>Angular</span></a>
												<a href="javascript:void(0);"><span>Bootstrap</span></a>
												<a href="javascript:void(0);"><span>Wordpress</span></a>
											</div>
											<div class="posted-info clearfix">
												<p class="m-tb0 text-primary float-left"><span class="text-black m-r10">Posted:</span> 2 day ago</p>
												<a href="jobs-my-resume.html" class="site-button button-sm float-right">Apply Job</a>
											</div>
										</div>
									</div>
								</li>
							</ul>
								<div class="pagination-bx float-right">
								<ul class="pagination">
									<li class="previous"><a href="javascript:void(0);"><i class="ti-arrow-left"></i> Prev</a></li>
									<li class="active"><a href="javascript:void(0);">1</a></li>
									<li><a href="javascript:void(0);">2</a></li>
									<li><a href="javascript:void(0);">3</a></li>
									<li class="next"><a href="javascript:void(0);">Next <i class="ti-arrow-right"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
</div>

